<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ job_name }} - {{ start_time }} ({{ exit_code }})</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>

<body>
<div class="container">
<h1>{{ job_name }}</h1>
<table class="table">
<tr><th>Job name</th><td><a href="../../{{ job_name }}/">{{ job_name }}</a></td></tr>
<tr><th>Run ID</th><td>{{ run_id }}</td></tr>
<tr><th>Trigger type</th><td>{{ trigger_type }}</td></tr>
<tr><th>Start time</th><td>{{ start_time }}</td></tr>
<tr><th>Stop time</th><td>{{ stop_time }}</td></tr>
<tr><th>Duration</th><td>{{ stop_time - start_time }}</td></tr>
<tr{% if exit_code != 0 %} class="danger"{% endif %}><th>Exit code</th><td>{{ exit_code }}</td></tr>
</table>
<h2>Run Output</h2>
<pre>{{ run_output }}</pre>
</div>
</body>
</html>
